.contact {
  background-image: url('https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?h=350&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  color: white;
  padding: 40px;
}
