.footer {
  background-color: black;
  padding: 40px;
  margin-top: 40px;
}
h5{
  font-weight: bolder;
  em{
    font-weight: normal;
    color: grey;
  }
}
.mbuzi{
  color: white;
}
#ngamia{
  color: white;
  font-weight: 900;
}
