// Place all the styles related to the testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mimi{
  font-family: 'Zilla Slab', serif;
}
.testimonials{
#kato{
  text-align: center;
}
.katz{
  text-align: center;
  margin: auto;
}
}
@media (max-width: 500px) {
  .skd{
    margin-left: 7px;
    margin-right: 7px;
  }
  .testimonials{
    display: none;
  }
}
@media (min-width: 500.2px) {
  .testimonials2{
    display: none;
  }
}
